.container{
  background-color: #F9F9F9;;
}
.cont__allUsers{
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 92px;
  align-items: center;
  justify-content: center;
  
}
.cont__activeUsers{
  width: 300px;
    background-color: #fff;
    border-radius: 18px;
    margin-top: -47%;
}